header#header-style-1 {
  position: relative;
  background-color: $darkGray;
  border-bottom: 1px solid $khaki;

  .torque-header-content-wrapper {
    display: flex;

    .torque-header-left-area-wrapper {
      flex: 1;
      padding-left: $bodyPadding4;
    }

    .torque-header-right-area-wrapper {
      display: flex;
      flex: 2;
      
      .cta-menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 5;

        .cta-menu-item {
          font-family: $fontFamilyHeading1;
          font-size: 1em;
          text-transform: uppercase;
          color: $white;
          letter-spacing: $letterSpacing3;
          line-height: $lineHeight2;
          
          @include respond-to(tablet) {
            font-size: 0.875em;
          }

          @include respond-to(desktop) {
            font-size: 0.875em;
          }

          &:not(:first-child) {
            margin-left: $bodyPadding5;
          }
        }
      }
      
      .burger-menu-container {
        position: relative;
        flex: 1;


        .torque-burger-menu {
          position: absolute;
          right: $bodyPadding4;
          top: 50%;
          transform: translateY(-50%);

          padding: $bodyPadding3;

          cursor: pointer;

          .torque-burger-menu-line {
            background-color: $white;
            top: calc(1em + 7px);

            &:first-child {
              top: 1em;
            }

            &:last-child {
              top: calc(1em + 14px);
            }
          }

          &.active {
            .torque-burger-menu-line {
              &:last-child {
                top: calc(1em + 7px);
              }
            }
          }
        }
      }
    }
  }

  .torque-header-menu-items-mobile {
    position: absolute;
    top: calc(100% + 1px);
    right: -100%;
    left: unset;
    width: auto;
    background-color: $darkGray92pc;
    z-index: 100;

    &.active {
      right: 0%;
    }

    .torque-menu-items-stacked {
      padding: 90px 52px 40px 145px;

      .torque-menu-item-wrapper  {
        width: 252px;
        padding: 10px 0;
        border-bottom: 1px solid $khaki;
        text-align: right;

        .torque-menu-item {
          font-family: $fontFamilyBody;
          font-size: 1em;
          text-transform: uppercase;
          color: $white;
          letter-spacing: $letterSpacing3;
          line-height: $lineHeight2;
          
          @include respond-to(tablet) {
            font-size: 0.875em;
          }
  
          @include respond-to(desktop) {
            font-size: 0.875em;
          }
        }
      }
    }

    .drawer-contact-container {
      padding: 0px 52px 40px 145px;
      text-align: right;

      &>* {
        font-family: $fontFamilyBody;
        font-size: 1em;
        color: $white;
        letter-spacing: $letterSpacing3;
        line-height: $lineHeight2;
      }

      .drawer-contact-address {
        margin-bottom: 10px;
      }
    }

    .drawer-cta {
      text-align: right;

      .btn-primary {
        margin: 0px 52px 40px auto;
      }
    }
  }
}
