// @font-face {
//   font-family: "Cochin-Bold";
//   src: url('../statics/fonts/cochin-bold/cochin-bold.ttf')
//     format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "Cochin-Bold";
  src: url('../statics/fonts/CochinLTStd-Bold/CochinLTStd-Bold.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url('../statics/fonts/akkurat/Akkurat.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TradeGothicLTStd-BoldExt";
  src: url('../statics/fonts/TradeGothicLTStd-BoldExt/TradeGothicLTStd-BoldExt.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
