.tq-contact-form {
  position: relative;
  box-sizing: border-box;
  padding: $bodyPadding6 0;
  @extend %limitWidthNarrow;

  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    @extend %titleAndContentMargins;

    @include respond-to(desktop) {
      flex-direction: row;
    }
    
    .contact-form-col-left {
      position: relative;
      flex: 1 1 40%;
      // box-sizing: border-box;
      // padding: 0 $bodyPadding10 0 0;
      letter-spacing: $letterSpacing4;
  
      .email-info,
      .phone-info,
      .location-info
      {
        margin-bottom: $bodyPadding5;
      }

      .email-title,
      .phone-title
      {
        display: none;
      }
    }
    
    .contact-form-col-right {
      position: relative;
      flex: 1 1 60%;
      
      .contact-form {
        display: flex;
        flex-wrap: wrap;
      }

      .form-message {
        color: $success;
        margin-bottom: $bodyPadding4;

        &.error {
          color: $error;
        }
      }
  
      form {
        .btn-primary {
          display: block;
          margin: $bodyPadding2 auto 0 0;
        }
      }
    }
  }
}