$bg-img: url('../assets/images/background-graphic-e.png');
$bg-img-height-mobile: 170px;
$bg-img-height-tablet: 240px;

.tq-cta-banner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: $borderThick solid $khaki;
  display: flex;
  flex-direction: column;
  margin-top: $bodyPadding3;

  @include respond-to(tablet) {
    margin-top: $bodyPadding6;
  }
  
  @include respond-to(desktop) {
    flex-direction: row;
    margin-top: 0;
  }

  // Right-aligned content, left image
  &.align-right {
    flex-direction: column-reverse;
    margin-top: $bodyPadding6;

    @include respond-to(tablet) {
      margin-top: $bodyPadding12;
    }
    
    @include respond-to(desktop) {
      flex-direction: row-reverse;
      margin-top: 0;
    }

    // .cta-banner-col-left {}

    .cta-banner-col-right {
      border-left: 0;
      border-top: 0;
      border-right: $borderThick solid $khaki;
    }

    .cta-banner-title {
      top: unset;
      bottom: calc(#{$bg-img-height-mobile} / 2);
      transform: translateY(50%);
      
      @include respond-to(tablet) {
        bottom: calc(#{$bg-img-height-tablet} / 2);
      }

      @include respond-to(desktop) {
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left;
        width: 100%;
        max-width: 420px;
        left: calc(100% - 10%);
        bottom: 45%;
      }
    }

    .cta-banner-button {
      top: unset;
      bottom: -35px;

      @include respond-to(desktop) {
        right: 20%;
        left: unset;
      }

      .btn-primary {
        transform: translateX(0%);

        @include respond-to(desktop) {
          transform: translateX(50%);
        }
      }
    }
  }

  // Left-aligned content, right image
  .cta-banner-col-left {
    background-image: $bg-img;
    background-position: left bottom;
    background-size: 35% auto;
    background-repeat: repeat;
    min-height: $bg-img-height-mobile;
    
    @include respond-to(tablet) {
      min-height: $bg-img-height-tablet;
      background-size: 25% auto;
    }

    @include respond-to(desktop) {
      flex: 1 1 20%;
      background-position: right bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  .cta-banner-col-right {
    position: relative;
    overflow: hidden;
    border-top: 3px solid $khaki;
    @extend %imageSize;

    @include respond-to-max(tablet) {
      padding-bottom: 60%;
    }
    
    @include respond-to(desktop) {
      flex: 1 1 80%;
      border-top: 0;
      border-left: 3px solid $khaki;
      padding-bottom: 42%;
    }

    img.background {
      position: absolute;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    img.e-graphic {
      position: absolute;
      bottom: $bodyPadding3;
      right: $bodyPadding3;
      object-fit: cover;
      object-position: center;
      width: 90px;
      height: 102px;

      @include respond-to(tablet) {
        bottom: $bodyPadding4;
        right: $bodyPadding6;
        width: 184px;
        height: 208px;
      }

      @include respond-to(desktop) {
        bottom: $bodyPadding7;
        right: $bodyPadding7;
        width: 277px;
        height: 312px;
      }
    }

    &.contain-image {
      overflow: visible;

      img.background {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;

        @include respond-to(desktop) {
          max-height: 90%;
        }
      }
    }
    &.offset-image {
      // ACF conditional statement states that the image can only be offset when it is also set to contained, hence the location of this styling.
      img {
        top: 8%;

        @include respond-to(tablet) {
          top: 1%;
        }

        @include respond-to(desktop) {
          top: 16%;
        }
      }
    }
  }

  .cta-banner-title {
    position: absolute;
    top: calc(#{$bg-img-height-mobile} / 2);
    bottom: unset;
    left: $bodyPadding3;
    transform: translateY(-50%);
    max-width: calc(100% - #{$bodyPadding5});
    
    @include respond-to(tablet) {
      left: 18%;
      top: calc(#{$bg-img-height-tablet} / 2);
      max-width: calc(100% - 36%);
    }

    @include respond-to(desktop) {
      top: unset;
      bottom: 45%;
      left: 15%;
      transform: 
        rotate(-90deg)
        translateX(-50%)
        translateY(-50%);
      transform-origin: left;
    }
  }

  .cta-banner-button {
    position: absolute;
    top: calc(#{$bg-img-height-mobile} - 35px);
    bottom: unset;
    left: $bodyPadding4;
    right: unset;
    
    @include respond-to(tablet) {
      top: calc(#{$bg-img-height-tablet} - 35px);
      left: 18%;
    }

    @include respond-to(desktop) {
      top: unset;
      bottom: -35px;
      left: 20%;
    }

    .btn-primary {
      transform: translateX(0%);
      padding: 22px 81px;

      @include respond-to(desktop) {
        transform: translateX(-50%);
      }
    }
  }
}