.tq-rentcafe-tour {
  position: relative;
  width: 100%;

  box-sizing: border-box;
  padding: $bodyPadding6 0;

  .content-wrapper {
    @extend %limitWidthNarrow;

    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}