.tq-rentcafe-floorplans {
  position: relative;
  width: 100%;

  box-sizing: border-box;
  padding: $bodyPadding6 0;

  .content-wrapper {
    @extend %limitWidthNarrow;

    .FiltersContainer {
      .FilterContainer {
        .FilterTitle {
          @include respond-to-max(tablet) {
            padding: 0;
          }
          @include respond-to-max(desktop) {
            padding: 0px 20px 0px 20px;
          }
        }

        .FilterButtonsContainer {
          @include respond-to-max(desktop) {
            flex-wrap: wrap;
            justify-content: flex-start;
          }

          .FilterButton {
            @include respond-to-max(desktop) {
              flex: 0 0 auto;
              margin-right: 18px;
            }
            @include respond-to(desktop) {
              margin-right: 20px;
            }
          }
        }
      }
    }

    .FloorplansContainer {
      flex-direction: column;
      justify-content: center !important;
      padding: $bodyPadding7 0;
  
      @include respond-to(desktop) {
        flex-direction: row;
        justify-content: space-between !important;
      }
  
      .FloorplanContainer {
        border-top: $borderThick solid $khaki;
        border-bottom: $borderThick solid $khaki;
        background-color: $mediumGray;
        padding: 3% 0.5% 0;
        margin-bottom: $bodyPadding10;
        flex: 0 0 100%;
        max-width: 378px;

        @include respond-to(desktop) {
          flex: 0 0 31%;
          max-width: unset;
        }
  
        // .FloorplanImageContainer {}
  
        .FloorplanContentContainer {
          padding: 1.2em 3em;
  
          // .TitleContainer {}
    
          .DetailsContainer {
            .DetailWrapper {
              .DetailValue {
                opacity: 0.6;
              }
            }
          }
        }
  
        .FloorplanButtonsContainer {
          margin-top: -25px;
          transform: translateY(50%);
  
          .FloorplanButton {
            @extend %useButtonSlim;
            margin: 0 auto;
  
            &:first-child {
              display: none;
            }
          }
        }
      }
    }

    .SiteMapImageAnchor {
      padding: $bodyPadding7 0;
    }
  }
}