#tq-title-content-cta-image {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  &.align-right {
    flex-direction: row-reverse;
  }

  .title-content-cta-image-col-left {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-content-cta-image-title {
      @extend %contentWithAdjacentImageMargins;
    }

    .title-content-cta-image-content {
      @extend %contentWithAdjacentImageMargins;
    }

    .title-content-cta-image-button {
      position: relative;
      margin-top: $bodyPadding8;

      .btn-primary {
        @extend %contentWithAdjacentImageMargins;
      }
    }
  }
  
  .title-content-cta-image-col-right {
    position: relative;
    flex: 1 1 55%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @extend %imageSize;
  }
}