.tq-title-content-cta-image {
  position: relative;
  box-sizing: border-box;
  display: flex;

  @extend %limitWidth;

  &.align-left {
    flex-direction: column;
    
    @include respond-to(tablet) {
      flex-direction: row;
      margin-right: 0;
    }
  }

  &.align-right {
    flex-direction: column;

    @include respond-to(tablet) {
      flex-direction: row-reverse;
      margin-left: 0;
    }
  }

  .title-content-cta-image-col-left {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    @include respond-to(tablet) {}
    
    @include respond-to(desktop) {
      flex: 1 1 40%;
    }

    .title-content-cta-image-title {
      @extend %contentWithAdjacentImageMargins;
    }

    .title-content-cta-image-content {
      @extend %contentWithAdjacentImageMargins;
    }

    .title-content-cta-image-button {
      position: relative;
      margin-top: $bodyPadding8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .btn-primary {
        @extend %contentWithAdjacentImageMargins;
      }
    }
  }
  
  .title-content-cta-image-col-right {
    position: relative;
    flex: 1 1 100%;
    flex-wrap: wrap;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    @extend %imageSize;
    
    @include respond-to(tablet) {}
    
    @include respond-to(desktop) {
      flex: 1 1 60%;
    }
  }
}