// $bg-img: url('../assets/images/background-graphic-grid.png');

.tq-title-content-image {
  position: relative;
  width: 100%;

  box-sizing: border-box;
  padding: $bodyPadding7 0;

  &.align-right {
    .content-wrapper {
      flex-direction: row-reverse;
    }

    .title-content-image-background {
      right: unset;
      left: 0;
      background-position: right top;

      border-right: 4px solid $mediumGray;
    }
  }

  .title-content-image-background {
    position: absolute;
    top: $bodyPadding7;
    right: 0;
    width: 45%;
    height: calc(100% - #{$bodyPadding7});
    
    // background
    // background-image: $bg-img;
    // background-size: contain;
    background-position: left top;
    background-repeat: repeat;

    background-image: linear-gradient($mediumGray 4px, transparent 4px), linear-gradient(90deg, $mediumGray 4px, transparent 4px);
    background-size: $bodyPadding9 $bodyPadding9;

    border-bottom: 4px solid $mediumGray;

    opacity: 0.6;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;

    @extend %limitWidthNarrow;

    .title-content-image-col-left {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .title-content-image-title {
        @extend %contentWithAdjacentImageMargins;
      }
  
      .title-content-image-content {
        @extend %contentWithAdjacentImageMargins;
      }
    }
    
    .title-content-image-col-right {
      position: relative;
      flex: 1 1 50%;
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
      @extend %imageSizeDouble;
    }
  }
}