// $bg-img: url('../statics/images/background-graphic-grid.png');

.tq-title-content-image {
  position: relative;
  width: 100%;

  box-sizing: border-box;
  padding: $bodyPadding7 0;

  @include respond-to(desktop) {
    padding: 0 0 $bodyPadding7;
  }

  // left-aligned
  &.align-left {
    .content-wrapper {
      flex-direction: column;

      @include respond-to(desktop) {
        flex-direction: row;
        margin-right: 0;
      }

      .title-content-image-col-right {
        @include respond-to-max(desktop) {
          margin-left: $bodyPadding6;
        }
      }
    }
  }

  // right-aligned
  &.align-right {
    .content-wrapper {
      flex-direction: column;

      @include respond-to(desktop) {
        flex-direction: row-reverse;
        margin-left: 0;
      }

      .title-content-image-col-right {
        @include respond-to-max(desktop) {
          margin-left: -$bodyPadding6;
        }
      }
    }

    .title-content-image-background {
      right: unset;
      left: 0;
      background-position: right top;

      border-right: 4px solid $mediumGray;
    }
  }

  // general styles
  .content-wrapper {
    display: flex;
    @extend %limitWidth;

    @include respond-to-max(desktop) {
      width: calc(100% - (#{$bodyPadding6} + #{$bodyPadding6}));
    }

    .title-content-image-col-left {
      display: flex;
      flex: 1 1 40%;
      flex-direction: column;
      justify-content: center;
  
      .title-content-image-title {
        @extend %contentWithAdjacentImageMargins;
      }
  
      .title-content-image-content {
        @extend %contentWithAdjacentImageMargins;
      }
    }
    
    .title-content-image-col-right {
      position: relative;
      flex: 1 1 60%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: $bodyPadding11;
      margin-bottom: $bodyPadding11;
      
      @extend %imageSizeDouble;
      
      @include respond-to(desktop) {
        background-size: auto 500px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // background graphic
  .title-content-image-background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 50%;
    
    // background
    // background-image: $bg-img;
    // background-size: contain;
    background-position: left top;
    background-repeat: repeat;

    background-image: linear-gradient($mediumGray 4px, transparent 4px), linear-gradient(90deg, $mediumGray 4px, transparent 4px);
    background-size: $bodyPadding9 $bodyPadding9;

    border-bottom: 4px solid $mediumGray;

    opacity: 0.6;

    @include respond-to(tablet) {
      height: 60%;
    }

    @include respond-to(desktop) {
      top: 0;
      bottom: unset;
      width: 45%;
      height: 100%;
    }
  }
}