.tq-title-content {
  position: relative;
  box-sizing: border-box;
  padding: $bodyPadding6 0;

  display: flex;
  flex-direction: column;
  
  @extend %limitWidthNarrow;

  &.bottom-border {
    border-bottom: 3px solid $khaki;
  }

  .title-content-title {
    @extend %titleAndContentMargins;
  }

  .title-content-content {
    max-width: 55%;
    @extend %titleAndContentMargins;
  }
}