.tq-two-column-content {
  position: relative;
  box-sizing: border-box;
  padding: $bodyPadding6 0;
  
  @extend %limitWidth;

  .two-column-wrapper {
    display: flex;
    flex-direction: row;

    @extend %titleAndContentMargins;

    .two-column-content-col-left {
      position: relative;
      flex: 1 1 50%;
      margin-left: $bodyPadding6;
    }
    
    .two-column-content-col-right {
      position: relative;
      flex: 1 1 50%;
      margin-left: $bodyPadding6;
    }
  }
}