.tq-two-column-content {
  position: relative;
  box-sizing: border-box;
  padding: $bodyPadding6 0;
  
  @extend %limitWidth;

  .two-column-wrapper {
    display: flex;
    flex-direction: column;

    @include respond-to(desktop) {
      flex-direction: row;
    }

    @extend %titleAndContentMargins;

    .two-column-content-col-left {
      position: relative;
      margin-left: $bodyPadding3;

      @include respond-to(desktop) {
        margin-left: $bodyPadding6;
        flex: 1 1 50%;
      }
    }
    
    .two-column-content-col-right {
      position: relative;
      margin-left: $bodyPadding3;

      @include respond-to(desktop) {
        margin-left: $bodyPadding6;
        flex: 1 1 50%;
      }
    }
  }
}