#tq-two-images-w-captions {
  position: relative;
  box-sizing: border-box;
  padding: $bodyPadding6 0;

  // TODO: add background graphic

  .two-images-w-captions-wrapper {
    display: flex;
    flex-direction: row;

    .two-images-w-captions-col {
      position: relative;
      flex: 1 1 50%;

      &:first-child {
        margin-right: $bodyPadding2;
      }
      &:last-child {
        margin-left: $bodyPadding2;
      }

      .col-image {
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        @extend %imageSizeDouble;
      }
      .col-caption {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}