body {
  background-color: $darkGray;
  color: $white;
}

.limit-width {
  width: calc(100% - #{$bodyPadding13});
  max-width: $contentWidthLimit;
  margin-left: auto;
  margin-right: auto;

  &.narrow {
    width: calc(100% - (#{$bodyPadding13} + #{$bodyPadding13}));
  }
}