body {
  background-color: $darkGray;
  color: $white;
  overflow: hidden;
}

// .limit-width {
//   width: calc(100% - #{$bodyPadding13});
//   max-width: $contentWidthLimit;
//   margin-left: auto;
//   margin-right: auto;

//   &.narrow {
//     width: calc(100% - (#{$bodyPadding13} + #{$bodyPadding13}));
//   }
// }

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}