.btn-primary {
  position: relative;
  display: inline-block;
  padding: 19px 52px;
  border: 3px solid $khaki;
  background-color: $darkGray;
  font-family: $fontFamilyBody;
  font-size: 13px;
  text-transform: uppercase;
  color: $khaki;
  letter-spacing: 1.3px;
  line-height: 19px;
  transition: 0.2s;

  &.slim {
    letter-spacing: 1.1px;
    line-height: 15px;
    padding: 19px 52px;
  }

  &:hover {
    background-color: $darkGray;
  }
}