footer {
  box-sizing: border-box;
  padding: $bodyPadding8 $bodyPadding1;

  background-color: $mediumGray;
  border-top: $borderThick solid $khaki;

  @include respond-to(tablet) {
    padding: $bodyPadding6 $bodyPadding1;
  }

  @include respond-to(desktop) {
    padding: $bodyPadding12 $bodyPadding1 $bodyPadding10;
  }

  .footer-content-wrapper  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @extend %limitWidth;

    &.mobile-footer {
      @include respond-to(tablet) {
        display: none;
      }
    }
  
    &.desktop-footer {
      @include respond-to-max(tablet) {
        display: none;
      }
    }
  }

  .footer-block {
    width: 100%;
    text-align: center;
    opacity: 0.62;
    text-align: left;
      
    // general styles
    &.footer-block-one {
      padding: 0 0 $bodyPadding5 0;

      @include respond-to(tablet) {
        flex: 1 1 100%;
      }

      @include respond-to(desktop) {
        padding: 0;
        width: auto;
        flex: 1 1 31%;
        text-align: center;
      }
    }
    &.footer-block-two,
    &.footer-block-three,
    &.footer-block-four
    {
      padding-bottom: $bodyPadding5;
      
      @include respond-to(tablet) {
        padding-bottom: $bodyPadding1;
        flex: 1 1 33.33%;
      }

      @include respond-to(desktop) {
        width: auto;
        flex: 1 1 23%;
        padding-top: $bodyPadding7;
      }
    }

    // specific styles
    &.footer-block-one {
      .torque-logo {
        width: 213px;
        height: auto;
      }
    }
    &.footer-block-two {
      padding-top: $bodyPadding7;
    }
    &.footer-block-three {
      padding-top: $bodyPadding7;

      .email-info {
        .email-title {
          display: none;
        }
      }

      .phone-info {
        .phone-title {
          display: none;
        }
      }
    }
    &.footer-block-four {
      padding-top: $bodyPadding7;

      .hours-container {
        .hours-title {
          margin-bottom: $bodyPadding2;
          text-transform: uppercase;
        }
      }
    }
  }
}
