footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  box-sizing: border-box;
  padding: $bodyPadding5 $bodyPadding1;

  background-color: $mediumGray;
  border-top: 3px solid $khaki;

  @include respond-to(tablet) {
    padding: $bodyPadding5 $bodyPadding1;
  }

  @include respond-to(desktop) {
    padding: $bodyPadding12 $bodyPadding1 $bodyPadding10;
  }

  .footer-block {
    width: 100%;
    text-align: center;
    opacity: 0.62;

    @include respond-to(tablet) {
      flex: 1 1 50%;
      text-align: left;
    }

    @include respond-to(desktop) {
      width: auto;
      
      &.footer-block-one {
        flex: 1 1 40%;
      }
      &.footer-block-two,
      &.footer-block-three,
      &.footer-block-four
      {
        flex: 1 1 20%;
      }
    }

    &.footer-block-one {
      text-align: center;

      .torque-logo {
        width: 213px;
        height: auto;
      }
    }
    &.footer-block-two {
      padding-top: $bodyPadding7;
    }
    &.footer-block-three {
      padding-top: $bodyPadding7;

      .email-info {
        .email-title {
          display: none;
        }
      }

      .phone-info {
        .phone-title {
          display: none;
        }
      }
    }
    &.footer-block-four {
      padding-top: $bodyPadding7;
    }
  }
}
